body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
  border: none;
}
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
}
input {
  padding: 0;
  margin: 0;
  border: none;
}
.bg {
  box-sizing: border-box !important;
  overflow: hidden!important;
  height: 1031px !important;
  z-index: 10;
}
.nav_bg {
  z-index: 999;
}
.loadding_gif {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
  /*margin-bottom: 2000px;*/
    background-color: #25AD6A;
}
.loadding_gif .loadding_real_gif {
    display: block;
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
}
.loadding_gif div{

    width: 100%;
    position: absolute;
    height: 100%;
    /*background-color:red;*/
}
.loadding_gif p {
    /*width: 100%;*/
    line-height: 100px;
    font-size: 60px;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 1000px;
    background-color: #25AD6A;
    color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
/*body,html{*/
    /*font-family:"微软雅黑", sans-serif;*/
/*}*/
span,p,dt,dl{
    cursor: default;
}